<div class="vertical-form">
	<div class="row">
		<mat-form-field class="basis-95">
			<input type="numer" min="0" matInput placeholder="Empleado" [(ngModel)]="user.nadroSapId">
		</mat-form-field>
	</div>
	<div class="row">
		<mat-form-field class="basis-45">
			<input type="text" matInput placeholder="Usuario Ubictum" [(ngModel)]="user.username">
		</mat-form-field>

		<mat-form-field class="basis-45">
			<input type="text" matInput placeholder="Password" [(ngModel)]="newPassword" (ngModelChange)="user.password = newPassword">
		</mat-form-field>
	</div>

	<div class="row">
		<mat-form-field class="basis-45">
			<input type="text" matInput placeholder="Nombre" [(ngModel)]="user.name">
		</mat-form-field>

		<mat-form-field class="basis-45">
			<input type="text" matInput placeholder="Apellido" [(ngModel)]="user.lastname">
		</mat-form-field>
	</div>
</div>