<div class="full-screen" fxLayout="row" fxLayoutAlign="space-between center">

  <div fxLayoutAlign="center center" fxFlex="70" fxFlexAlign="stretch" >
    <div class="ubictumIcon"></div>
  </div>
  
  <!-- <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="stretch" fxFlex="40" style="background-image: url('assets/img/shattered.png'); box-shadow: -7px 0px 7px 0px #e2e2e2;"> -->
  <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="stretch" fxFlex="40" style="background-image: url('assets/img/escheresque.png'); box-shadow: -7px 0px 7px 0px #e2e2e2;">
  <!-- <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="stretch" fxFlex="40" style="background-image: url('assets/img/bedge_grunge.png'); box-shadow: -7px 0px 7px 0px #e2e2e2;"> -->
  <!-- <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="stretch" fxFlex="40" style="background-image: url('assets/img/congruent_pentagon.png'); box-shadow: -7px 0px 7px 0px #e2e2e2;"> -->
  <!-- <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="stretch" fxFlex="40" style="background-image: url('assets/img/congruent_outline.png'); box-shadow: -7px 0px 7px 0px #e2e2e2;"> -->
  <!-- <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="stretch" fxFlex="40" style="background-image: url('assets/img/cloudy-day.png'); box-shadow: -7px 0px 7px 0px #e2e2e2;"> -->
  <!-- <div fxLayout="row" fxLayoutAlign="center center" fxFlexAlign="stretch" fxFlex="40" style="background-image: url('assets/img/gplaypattern.png'); box-shadow: -7px 0px 7px 0px #e2e2e2;"> -->
    <form>
      <div fxLayout="column" style="width:350px;">
        <div>
          <mat-form-field class="example-full-width">
            <!-- <mat-icon matPrefix>account_circle</mat-icon> -->
            <input type="text" matInput placeholder="Usuario" [(ngModel)]="username" [ngModelOptions]="{standalone: true}">
            <mat-icon matSuffix>account_circle</mat-icon>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="example-full-width">
            <input type="password" matInput placeholder="Contraseña" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
            <mat-icon matSuffix>lock</mat-icon>
          </mat-form-field>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <a href="#" mat-button color="primary">¿Olvidaste tu contraseña?</a>
        <button mat-raised-button color="primary" (click)="login(username, password)">Ingresar</button>
      </div>
    </form>
  </div>
</div>