<mat-card style="width: 850px;">

	<mat-table #table [dataSource]="dataSource">

		<ng-container matColumnDef="sapId">
			<mat-header-cell *matHeaderCellDef> SapID </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.sapId}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="name">
			<mat-header-cell *matHeaderCellDef> Nombre </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="lastname">
			<mat-header-cell *matHeaderCellDef> Apellido </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="username">
			<mat-header-cell *matHeaderCellDef> Usuario </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
		</ng-container>

		<ng-container matColumnDef="email">
			<mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
			<mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
		</ng-container>

		<!-- Edit Delete Actions -->
		<ng-container matColumnDef="manageActions">
			<mat-header-cell *matHeaderCellDef></mat-header-cell>
			<mat-cell *matCellDef="let element">
				<a class="tableAction" (click)="editUser(element)">
					<mat-icon mat-list-icon>mode_edit</mat-icon>
				</a>
				<a class="tableAction" (click)="deleteUser(element)">
					<mat-icon mat-list-icon>delete</mat-icon>
				</a>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>
	<mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
	</mat-paginator>

	<div class="row" style="justify-content: flex-end;">
		<button mat-raised-button color="primary" routerLink="create">Nuevo Usuario</button>
	</div>
</mat-card>